@font-face {
    font-family: nf;
    src: url("../assets/fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: bf;
    src: url("../assets/fonts/SpaceMono-Bold.ttf");
}

@font-face {
    font-family: nfi;
    src: url("../assets/fonts/SpaceMono-Italic.ttf");
}

@font-face {
    font-family: bfi;
    src: url("../assets/fonts/SpaceMono-BoldItalic.ttf");
}