
@mixin sectionTitleStyle {
    color: $primaryColor;
    position: relative;
    width: fit-content;
    font-size: 1.2rem;
    font-family: bf;
    margin-top: 50px;

    &::after{
        content: "";
        position: absolute;
        bottom: 6px;
        left: 0;
        right: 0;
        border-bottom: 8px solid $btnColor;
        z-index: -1;
    }
}

@mixin miniBoxStyle {
    background-color: $btnColor;
    padding: 5px 15px;
    border-radius: 50px;
}

@mixin btnSeeMoreStyle {
    @include displayFlex(center);
    margin: 20px 0;
    button{
        min-width: 30%;
        padding: 10px 30px;
        color: $textOne;
    }
}