$primaryColor : #692DE5;
$boxColor : #111818;
$btnColor : #1B1C2D;
$bgColor : #0E1313;
$textOne : #ffffff;
$textTwo : #A0A0A0;
$textThree : #505050;
$glassBoxPurpleColor : #1b1c2daa;
$glassProjectBoxColor : #111818aa;