@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./preStylesMixins";

.sectionTitle{
    @include sectionTitleStyle;
}

.aboutSectionContent{
    margin-top: 25px;
    padding: 10px;

    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.7rem;
        color: $primaryColor;
        margin: 10px 0;
    }
    p{
        margin-top: 5px;
        font-size: 0.8rem;
        color: $textTwo;
        text-align: justify;
    }
}

.TechnologiesContainer{
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
}